<page-header>
  <nz-card [nzBordered]="false">
    <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
      <se label="规则名称" error="请输入规则名称" required>
        <input nz-input formControlName="name" placeholder="规则名称" />
      </se>
      <se label="挂载点" error="请选择挂载点" required>
        <nz-select formControlName="mountType" placeholder="设备类型">
          <nz-option nzValue="1" nzLabel="遥测"></nz-option>
           <nz-option nzValue="2" nzLabel="属性"></nz-option>
           <nz-option nzValue="0" nzLabel="RAW"></nz-option>
           <nz-option nzValue="3" nzLabel="RPC"></nz-option>
           <nz-option nzValue="4" nzLabel="Online"></nz-option>
           <nz-option nzValue="5" nzLabel="Offline"></nz-option>
        </nz-select>


      </se>
      <se label="备注" error="备注">
        <!-- <editor formControlName="RuleDesc"></editor> -->

        <input nz-input formControlName="ruleDesc" placeholder="规则备注" />
      </se>

      <se>
        <input nz-input formControlName="ruleId" type="hidden" />
        <button nz-button type="reset" (click)="close()">取消</button>
        <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">保存</button>
        <!--<button nz-button class="ml-sm" [routerLink]="['/manage/user/userlist']" >取消</button>
    <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">保存</button>-->
      </se>
    </form>
  </nz-card>
</page-header>
