<nz-card [nzBordered]="false" nzTitle="参数内容" [nzExtra]="extraOp" style="float: left; width: 100%">
    <ng-template #extraOp>
        <button nz-button nz-button nzType="default" nzDanger (click)="remove($event)">删除<i nz-icon
                nzType="close"></i></button>
    </ng-template>

    <nz-form-item>
        <nz-form-label nzFor="TemplateParamName" nzRequired [nzSm]="3" [nzXs]="24">参数名称</nz-form-label>
        <nz-form-control [nzValidateStatus]="DeviceTypeParam.TemplateParamNamenzValidateStatus"
            [nzErrorTip]="DeviceTypeParam.TemplateParamNamenzValidatingTip">
            <input nz-input [(ngModel)]="DeviceTypeParam.TemplateParamName" placeholder="请输入参数名称"
                (ngModelChange)="dtpChange($event)" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24">是否为必填</nz-form-label>
        <nz-form-control nzErrorTip="默认值">
            <!-- <input nz-input [(ngModel)]="DeviceTypePropertity.IsRequired" placeholder="请输入默认值" /> -->

            <nz-switch [(ngModel)]="DeviceTypeParam.IsRequired"></nz-switch>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nzRequired [nzSm]="3" [nzXs]="24">索引</nz-form-label>
        <nz-form-control [nzValidateStatus]="DeviceTypeParam.TemplateParamValueCodenzValidateStatus"
            [nzErrorTip]="DeviceTypeParam.TemplateParamValueCodenzValidatingTip">
            <input (ngModelChange)="dtcChange($event)" nz-input [(ngModel)]="DeviceTypeParam.TemplateParamValueCode"
                placeholder="请输入默认值" nzRequired />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24">控件类型</nz-form-label>
        <nz-form-control nzErrorTip="控件类型">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="参数类型"
                (ngModelChange)="DeviceTypeParamUITypeChange($event)"
                [(ngModel)]="DeviceTypeParam.TemplateParamUIElement">
                <nz-option *ngFor="let o of AllControlType" [nzValue]="o.value" [nzLabel]="o.label"> </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="DSVisble">
        <nz-form-label [nzSm]="3" [nzXs]="24">数据源</nz-form-label>
        <nz-form-control nzErrorTip="数据源">
            <input nz-input [(ngModel)]="DeviceTypeParam.TemplateParamValueDataSource" placeholder="请输入" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="DefaultVisble">
        <nz-form-label [nzSm]="3" [nzXs]="24">默认值</nz-form-label>
        <nz-form-control nzErrorTip="默认值">
            <input nz-input [(ngModel)]="DeviceTypeParam.TemplateParamValue" placeholder="请输入默认值" />
        </nz-form-control>
    </nz-form-item>
    <sf #sf [schema]="DeviceTypeParam.schema" (formSubmit)="submit()" [button]="'none'"></sf>

    <nz-form-item>
        <nz-form-label [nzSm]="3" [nzXs]="24">目标类型</nz-form-label>
        <nz-form-control nzErrorTip="目标类型">
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="目标类型"
                [(ngModel)]="DeviceTypeParam.TemplateParamValueType">
                <nz-option *ngFor="let o of SuportType" [nzValue]="o.value" [nzLabel]="o.label"> </nz-option>
            </nz-select>
        </nz-form-control>
    </nz-form-item>
</nz-card>