<page-header [breadcrumb]="phNgContent" [title]="title">
    <ng-template #phNgContent class> </ng-template>
    <nz-card [nzBordered]="false">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
        <se labelWidth="120px" label="来源" error="名称不能为空或者空白字符" >
            <input nz-input [(ngModel)]="devicename" formControlName="devicename" (input)="oninput($event)" (ngModelChange)="onchange($event)" name="Originator" placeholder="请输入"  [nzAutocomplete]="auto"/>
               <nz-autocomplete #auto [compareWith]="compare">
              <nz-auto-option *ngFor="let option of devices" [nzValue]="option.name">{{ option.name }}</nz-auto-option>
            </nz-autocomplete>
        </se>
        <se labelWidth="120px" label="属性" error="资产类型"  >
            <nz-transfer  
            [nzDataSource]="listattr"
          ></nz-transfer>
        </se>
  
        <se labelWidth="120px" label="遥测" error="描述" >
            <nz-transfer
            [nzDataSource]="listtemp"
          ></nz-transfer>
        </se>
        <se labelWidth="120px">
          <input type="hidden" [(ngModel)]="deviceid" formControlName="deviceid"   name="deviceid" placeholder="请输入"  />
          <button nz-button type="reset" (click)="close()">取消</button>
          <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">保存</button>
         </se>
      </form>
    </nz-card>
  </page-header>
  