<div nz-row style="height: 480px">
  <div nz-col nzSpan="24">
    <nz-card nzTitle="FLows" [nzBordered]="false"> <app-flowviewer #flowview></app-flowviewer></nz-card>
  </div>
</div>

<div nz-row>
  <div nz-col nzSpan="12">
    <nz-card nzTitle="Test Data" [nzBordered]="false">
      <!-- <form nz-form #f="ngForm" se-container="1" style="margin: 1rem">
        <se label="测试参数模板">
          <nz-select [ngModel]="thisisyourtestdataformid" (ngModelChange)="formIdChange($event)" [ngModelOptions]="{ standalone: true }">
            <nz-option *ngFor="let option of listOfOption" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
          </nz-select>
        </se>
      </form>
      <app-dynamicformview (onsubmit)="onsubmit($event)" #dynamicformview> </app-dynamicformview
    >
   -->
   <nz-code-editor
   style="width: 100%; height: 500px; padding-top: 1rem"
   class="editor"
   [(ngModel)]="param"
   [ngModelOptions]="{ standalone: true }"
   [nzEditorOption]="{ language: 'json' }"
 ></nz-code-editor>
  

 <button nz-button nzType="primary" type="button" (click)="onsubmit($event)" >测试</button>

  </nz-card>
  </div>
  <div nz-col nzSpan="12">
    <nz-card [nzBordered]="false" class="mb-0" nzTitle="Time Line">
      <nz-steps [nzCurrent]="current" nzDirection="vertical">
        <nz-step
          *ngFor="let step of this.steps"
          [nzStatus]="step.nzStatus"
          [nzTitle]="step.operationDesc"

          [nzSubtitle]="step.addDate"
          [nzDescription]="step.data"
        ></nz-step>
      </nz-steps>
    </nz-card>
  </div>
</div>
