<page-header [breadcrumb]="phNgContent" [title]="title">
    <ng-template #phNgContent class> </ng-template>
    <nz-card [nzBordered]="false">
      <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
        <se label="字典分组名称" error="请输入字典分组名称" required>
          <input nz-input formControlName="DictionaryGroupName" placeholder="请输入厂商名称" />
        </se>
        <se label="字典值类型" error="请输入字典值类型" required>
          <input nz-input formControlName="DictionaryGroupValueType" placeholder="给输入地址" />
        </se>
        <se label="备注" error="备注">
          <textarea nz-input formControlName="DictionaryGroupDesc" placeholder="备注" [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
          <!--<ckeditor [editor]="Editor"  [config]="config" formControlName="UserDesc" data="自我介绍"></ckeditor>-->
        </se>
        <se>
          <input nz-input formControlName="DictionaryGroupId" placeholder="Action" type="hidden" />
          <button nz-button type="reset" (click)="close()">取消</button>
          <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">保存</button>
        </se>
      </form>
    </nz-card>
  </page-header>
  