<div class="container">
  <header-i18n showLangText="false" class="langs"></header-i18n>
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo.png" />

        <span class="title">IoTSharp</span>
      </div>
      <div class="desc"></div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links">
      Copyright
      <i nz-icon nzType="copyright"></i> 2017 <a href="https://github.com/IoTSharp/" target="_blank">IoTSharp</a>出品
    </global-footer>
  </div>
</div>
<theme-btn></theme-btn>