<page-header [title]="'根证书管理'">
  <form nz-form (ngSubmit)="createcert($event)" [formGroup]="form" se-container="1" labelWidth="120">
    <se label="域名">
      <input nz-input nz-input formControlName="domain" placeholder="域名" />
    </se>
    <se label="Ca指纹">
      <input nz-input nz-input formControlName="caThumbprint" placeholder="域名" />
    </se>
    <se label="Broker指纹">
      <input nz-input nz-input formControlName="brokerThumbprint" placeholder="域名" />
    </se>
    <button nz-button nzType="primary" type="submit" *ngIf="!installed">生成根证书</button>
  </form>
</page-header>