<page-header [title]="'根证书管理'">
  <div nz-row>
    <div nz-col class="gutter-row" [nzSpan]="24">
      <form nz-form (ngSubmit)="createcert($event)" [formGroup]="form" se-container="1" labelWidth="120">
        <se label="域名">
          <input nz-input nz-input formControlName="domain" placeholder="域名" />
        </se>
        <se label="Ca指纹">
          <input nz-input nz-input formControlName="caThumbprint" placeholder="域名" />
        </se>
        <se label="Broker指纹">
          <input nz-input nz-input formControlName="brokerThumbprint" placeholder="域名" />
        </se>
        <button nz-button nzType="primary" type="submit" *ngIf="!caCertificate">生成根证书</button>
      </form>
    </div>
  </div>
  <nz-divider nzOrientation="left" *ngIf="!caCertificate"></nz-divider>
  <div nz-row *ngIf="!caCertificate">
    <div nz-col class="gutter-row" [nzSpan]="24">
      <nz-alert nzType="success" nzDescription="证书尚未配置." nzShowIcon></nz-alert>
    </div>
  </div>
</page-header>