<page-header [title]="'字典列表'">
  <nz-card [nzBordered]="false" class>
    <form nz-form class="search__form" action="search">
      <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="DictionaryName">字典名称</nz-form-label>
            <nz-form-control>
              <input
                nz-input
                [(ngModel)]="q.DictionaryName"
                name="DictionaryName"
                [ngModelOptions]="{ standalone: true }"
                placeholder="请输入"
              />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="8" nzSm="24">
          <nz-form-item>
            <nz-form-label nzFor="DictionaryGroupId">所属分组</nz-form-label>
            <nz-form-control>
              <nz-select
                nzPlaceHolder="选择字典分组"
                nzAllowClear
                [(ngModel)]="q.DictionaryGroupId"
                [ngModelOptions]="{ standalone: true }"
              >
                <nz-option *ngFor="let o of optionList" [nzValue]="o.dictionaryGroupId" [nzLabel]="o.dictionaryGroupName"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="24" [class.text-right]="expandForm" style="text-align: right">
          <button nz-button type="submit" [nzType]="'primary'" (click)="getData()">搜索</button>
          <!--<button nz-button type="submit" (click)="getData()" [nzType]="'primary'" [nzLoading]="loading">查询</button>-->
          <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
        </div>
      </div>
    </form>

    <button nz-button [nzType]="'primary'" (click)="openComponent(-1)" acl [acl-ability]="55">
      <i nz-icon nzType="plus"></i>
      <span>{{ 'button.new' | i18n }}</span>
    </button>
    <!--<button nz-button [nzType]="'primary'" [routerLink]="['/manage/authority/roleform']" [queryParams]="{Id:-1}">
          <i nz-icon nzType="plus"></i>
          <span>{{ 'button.new' | translate }}</span>
        </button>-->

    <st #st [columns]="columns" [data]="url" ps="20" [page]="page" [req]="req" [res]="res">
      <ng-template st-row="DictionaryStatus" let-i>
        <nz-badge [nzStatus]="i.statusType" [nzText]="i.statusText"></nz-badge>
      </ng-template>
    </st>
  </nz-card>
</page-header>
