<div nz-row nzGutter="16">
  <div nz-col nzXs="24" nzMd="24">
    <nz-card [nzBordered]="false" [nzTitle]="salesTitle">
      <ng-template #salesTitle>
        健康检查
        <small class="text-sm font-weight-normal"></small>
      </ng-template>
      <st [data]="data" [columns]="eventcolumns"></st>
    </nz-card>
  </div>
  <div nz-col nzXs="24" nzMd="24">
    <nz-card [nzTitle]="growthTitle" [nzBordered]="false">
      <ng-template #growthTitle>
        消息总线
        <small class="text-sm font-weight-normal"></small>
      </ng-template>
      <g2-timeline maxAxis="4" [data]="chartdata" [titleMap]="" [height]="220" mask="MM月DD日" maskSlider="MM月dd日"
                   [titleMap]="titleMap"></g2-timeline>
    </nz-card>
  </div>
</div>

