<div class="users-toolbar-root">
    <div class="users-toolbar-row">
        <span class="users-toolbar-spacer" />
        <Button class="users-toolbar-import-button">Import</Button>
        <Button class="users-toolbar-export-button">Export</Button>
        <Button
            Color="@Color.Primary"
            Variant="@ButtonVariant.Contained">
            Add
        </Button>
    </div>
    <div class="users-toolbar-row">
        <SearchInput
            Class="users-toolbar-search-input"
            Placeholder="Search user" />
    </div>
</div>
