



 <nz-row class="customrow">

   <nz-code-editor  (ngModelChange)="ngModelChange($event)"
   style="width: 100%; height: 500px; padding-top: 1rem" class="editor" [(ngModel)]="Json"
   [ngModelOptions]="{ standalone: true }" [nzEditorOption]="{ theme: 'vs',language: 'json' }">
 </nz-code-editor>

</nz-row>


 <nz-row class="customrow">

<nz-tree-view [nzTreeControl]="treeControl"  [nzDataSource]="dataSource" [trackBy]="trackBy">


      <nz-tree-node *nzTreeNodeDef="let node; when: hasChild" nzTreeNodeIndentLine>
        <nz-tree-node-toggle>
          <em nz-icon nzType="caret-down" nzTreeNodeToggleRotateIcon></em>
        </nz-tree-node-toggle>
    
        <nz-select [(ngModel)]="node.field">
          <nz-option *ngFor="let option of columns" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
    
        <nz-select [(ngModel)]="node.operator">
          <nz-option nzLabel="等于" nzValue="="></nz-option>
          <nz-option nzLabel="大于" nzValue=">"></nz-option>
          <nz-option nzLabel="小于" nzValue="<"></nz-option>
          <!-- <nz-option nzLabel="小于等于" nzValue="=<"></nz-option>
          <nz-option nzLabel="大于等于" nzValue=">="></nz-option> -->
        </nz-select>
    
        <input nz-input placeholder="值" [(ngModel)]="node.text" />
        <nz-select [(ngModel)]="node.connector">
          <nz-option nzLabel="AND" nzValue="&&"></nz-option>
          <nz-option nzLabel="OR" nzValue="||"></nz-option>
        </nz-select>
        <button nz-button nzType="text" nzSize="small" (click)="addNewNode(node)">
          <em nz-icon nzType="plus" nzTheme="outline"></em>
        </button>
    
        <button nz-button nzType="text" nzSize="small" (click)="delete(node)">
          <em nz-icon nzType="minus" ></em>
        </button>
      </nz-tree-node>
  </nz-tree-view>
</nz-row>
<nz-row class="customrow">

    <textarea nz-input placeholder="test expression" [(ngModel)]="expression"  [nzAutosize]="{ minRows: 3, maxRows: 5 }"></textarea>
<ng-template #suffixTemplateInfo>
        <em nz-icon nz-tooltip nzTooltipTitle="" nzType="info-circle" ></em>
      </ng-template>
</nz-row>

<nz-row class="customrow">
  <button nz-button nzType="primary" nzShape="round" (click)="create()"><em nz-icon nzType="download"></em>生成</button> 
  <button nz-button nzType="primary" nzShape="round" (click)="close()"><em nz-icon nzType="download"></em>关闭</button></nz-row>
