<div nz-row nzGutter="16">
  
    <div nz-col nzXs="24" nzMd="12">
      <nz-card [nzTitle]="recentTitle" [nzBordered]="false" class="ant-card__body-nopadding">
        <ng-template #recentTitle>
        最新设备
          <small class="text-sm font-weight-normal"></small>
        </ng-template>
        <st #st [data]="devices" [columns]="devicecolumns" [page]="{ show: false }"></st>
      </nz-card>
    </div>
    <div nz-col nzXs="24" nzMd="12">
      <nz-card nzTitle="最新事件" [nzBordered]="false" class="ant-card__body-nopadding">
        <st #st [data]="events" [columns]="eventcolumns" [page]="{ show: false }"></st>
      </nz-card>
    </div>