<page-header [breadcrumb]="phNgContent" [title]="title">
  <ng-template #phNgContent class> </ng-template>
  <nz-card [nzBordered]="false">
    <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
      <se label="客户名称" error="客户名称" required>
        <input nz-input formControlName="name" placeholder="客户名称" />
      </se>

      <se label="客户邮箱地址" error="客户邮箱地址">
        <input nz-input formControlName="email" placeholder="客户邮箱地址" />
      </se>

      <se label="联系电话" error="联系电话">
        <input nz-input formControlName="phone" placeholder="联系电话" />
      </se>
      <se label="国家" error="国家">
        <input nz-input formControlName="country" placeholder="国家" />
      </se>
      <se label="省" error="省">
        <input nz-input formControlName="province" placeholder="省" />
      </se>
      <se label="城市" error="城市">
        <input nz-input formControlName="city" placeholder="城市" />
      </se>

      <se label="街道" error="街道">
        <input nz-input formControlName="street" placeholder="街道" />
      </se>
      <se label="地址" error="地址">
        <input nz-input formControlName="address" placeholder="地址" />
      </se>

      <se label="邮编" error="邮编" required>
        <input nz-input formControlName="zipCode" placeholder="邮编" />
      </se>
      <se>
        <input nz-input formControlName="tenantID" type="hidden" />
        <input nz-input formControlName="id" type="hidden" />
        <button nz-button type="reset" (click)="close()">取消</button>
        <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">保存</button>
      </se>
    </form>
  </nz-card>
</page-header>
