<div class="auth-quote-root">
    <div class="auth-quote-inner">
        <Typography
            Class="auth-quote-text"
            Variant="@TypographyVariant.H5">
            Hella narwhal Cosby sweater McSweeney's, salvia kitsch before
            they sold out High Life.
        </Typography>
        <div class="auth-quote-person">
            <Typography
                Class="auth-quote-name"
                Variant="@TypographyVariant.Body1">
                Takamaru Ayako
            </Typography>
            <Typography
                Class="auth-quote-bio"
                Variant="@TypographyVariant.Body2">
                Manager at inVision
            </Typography>
        </div>
    </div>
</div>
