<div class="products-toolbar-root">
    <div class="products-toolbar-row">
        <span class="products-toolbar-spacer" />
        <Button class="products-toolbar-import-button">Import</Button>
        <Button class="products-toolbar-export-button">Export</Button>
        <Button
            Color="@Color.Primary"
            Variant="@ButtonVariant.Contained">
            Add
        </Button>
    </div>
    <div class="products-toolbar-row">
        <SearchInput
            Class="products-toolbar-search-input"
            Placeholder="Search product" />
    </div>
</div>
