TZ=Asia/Shanghai

IOTEDGE_IMAGE=registry.uixe.net/iotsharp/iotedge:latest
SONNETDB_IMAGE=registry.uixe.net/iotsharp/sonnetdb:latest

CLOUD_IOTSHARP_BASE_URL=http://iotsharp.example.local:2927
EDGE_ACCESS_TOKEN=edge_access_token_change_me
EDGE_NODE_ID=edge-node-001
EDGE_NODE_NAME=edge-node-001

EDGE_SONNETDB_TOKEN=iotedge_local_sonnetdb_token_change_me
EDGE_SONNETDB_PORT=15080
