<page-header [breadcrumb]="phNgContent" [title]="title">
    <ng-template #phNgContent class> </ng-template>
    <nz-card [nzBordered]="false">
        <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
      

            <se label="用户邮箱地址" error="客户邮箱地址" required>
                <input nz-input formControlName="email" placeholder="客户邮箱地址" readonly />
            </se>

            <se label="联系电话" error="联系电话">
                <input nz-input formControlName="phoneNumber" placeholder="邮箱" />
            </se>
       
            <se>
                <input nz-input formControlName="id" placeholder="Action" type="hidden" />
                <button nz-button type="reset" (click)="close()">取消</button>
                <button nz-button nzType="primary" [disabled]="form.invalid" type="submit"
                    [nzLoading]="submitting">保存</button>
            </se>
        </form>
    </nz-card>
</page-header>