<div class="modal-header">
    <div class="modal-title">Title</div>
  </div>
  
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
    <se label="名称" error="名称不能为空或者空白字符" required>
      <input nz-input formControlName="name" placeholder="名称" required />
    </se>
    <se>
        <button nz-button [nzType]="'default'" (click)="cancel()">
          取消
        </button>
        <button nz-button [nzType]="'primary'" [disabled]="form.invalid"  type="submit">
          创建
        </button>
    </se>
  </form>
  
