@import "node_modules/ng-zorro-antd/resizable/style/entry.less";

.diagram-container {
  background-color: rgb(181, 245, 185);
}
.highlight:not(.djs-connection) .djs-visual > :nth-child(1) {
  fill: green !important; /* color elements as green */
}
.highlight-overlay {
  background-color: green; /* color elements as green */
  opacity: 0.4;
  pointer-events: none; /* no pointer events, allows clicking through onto the element */
}
.bpmn-icon-screw-wrench{
  display: none;
}


.editor {
  height: 200px;
}

.full-screen {
  position: fixed;
  z-index: 999;
 height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}


