name: Test deployment

on:
  pull_request:
    branches: [main]
    paths: [./**]

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 14.x
          cache: yarn
      - name: Test build
        working-directory: ./
        run: |
          yarn install --frozen-lockfile
          yarn build
