<nz-card [nzBordered]="false">
    <nz-alert nzType="success" nzMessage="任务" [nzDescription]="flow.flowname"></nz-alert>
    <nz-row>
    <nz-card nzTitle="输入参数" nz-col nzSpan="12">
        <nz-code-editor
        style="width: 100%; height: 500px; padding-top: 1rem"
        class="editor"
        [(ngModel)]="param"
        [ngModelOptions]="{ standalone: true }"
        [nzEditorOption]="{ language: 'json' }"
      ></nz-code-editor>
    </nz-card>
    <nz-card nzTitle="输入配置" nz-col nzSpan="12">  
        <nz-code-editor
        style="width: 100%; height: 500px; padding-top: 1rem"
        class="editor"
        [(ngModel)]="config"
        [ngModelOptions]="{ standalone: true }"
        [nzEditorOption]="{ language: 'json' }"
      ></nz-code-editor>
    </nz-card>
</nz-row>
    <button nz-button nzType="primary" type="submit" (click)="test($event)" [nzLoading]="submitting">测试</button>
  </nz-card>
  
  <nz-card [nzBordered]="false">
    <ngx-json-view [data]="result"></ngx-json-view>
  </nz-card>
  