<nz-card [nzBordered]="false">
  <nz-alert
    nzType="info"
    nzMessage="提示"
    nzDescription="辅助翻译默认为中文，请输入简体中文，在简体中文一项填入在点辅助翻译，若要修改默认语言，在appsettings 的dufaultLang节点修改辅助翻译默认语言，语言代码参看下方的mapping文件"
    nzShowIcon
  >
  </nz-alert>
  <form nz-form [formGroup]="form" (ngSubmit)="submit()" se-container="1" labelWidth="200">
    <se label="{{ 'i18n.columns.KeyName' | i18n }}" error="键名不能为空且不重复" required>
      <input nz-input formControlName="keyName" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueBG' | i18n }}" error="">
      <input nz-input formControlName="valueBG" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueCS' | i18n }}" error="">
      <input nz-input formControlName="valueCS" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueDA' | i18n }}" error="">
      <input nz-input formControlName="valueDA" placeholder="" />
    </se>

    <se label="{{ 'i18n.columns.ValueDEDE' | i18n }}" error="">
      <input nz-input formControlName="valueDEDE" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueESES' | i18n }}" error="">
      <input nz-input formControlName="valueESES" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueENUS' | i18n }}" error="">
      <input nz-input formControlName="valueENUS" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueENGR' | i18n }}" error="">
      <input nz-input formControlName="valueENGR" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueELGR' | i18n }}" error="">
      <input nz-input formControlName="valueELGR" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueFI' | i18n }}" error="">
      <input nz-input formControlName="valueFI" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueFRFR' | i18n }}" error="">
      <input nz-input formControlName="valueFRFR" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueHE' | i18n }}" error="">
      <input nz-input formControlName="valueHE" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueHRHR' | i18n }}" error="">
      <input nz-input formControlName="valueHRHR" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueHU' | i18n }}" error="">
      <input nz-input formControlName="valueHU" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueITIT' | i18n }}" error="">
      <input nz-input formControlName="valueITIT" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueJAJP' | i18n }}" error="">
      <input nz-input formControlName="valueJAJP" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueKOKR' | i18n }}" error="">
      <input nz-input formControlName="valueKOKR" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueNL' | i18n }}" error="">
      <input nz-input formControlName="valueNL" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValuePLPL' | i18n }}" error="">
      <input nz-input formControlName="valuePLPL" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValuePT' | i18n }}" error="">
      <input nz-input formControlName="valuePT" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueSLSL' | i18n }}" error="">
      <input nz-input formControlName="valueSLSL" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueTRTR' | i18n }}" error="">
      <input nz-input formControlName="valueTRTR" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueSR' | i18n }}" error="">
      <input nz-input formControlName="valueSR" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueSV' | i18n }}" error="">
      <input nz-input formControlName="valueSV" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueUK' | i18n }}" error="">
      <input nz-input formControlName="valueUK" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueVI' | i18n }}" error="">
      <input nz-input formControlName="valueVI" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueZHCN' | i18n }}" error="">
      <input nz-input formControlName="valueZHCN" placeholder="" />
    </se>
    <se label="{{ 'i18n.columns.ValueZHTW' | i18n }}" error="">
      <input nz-input formControlName="valueZHTW" placeholder="" />
    </se>

    <se>
      <input nz-input formControlName="id" type="hidden" placeholder="" />
      <button nz-button type="reset" (click)="close()">{{ 'button.return' | i18n }}</button>
      <button nz-button type="button" (click)="autotrans()">{{ 'button.auxiliary.translate' | i18n }}</button>
      <button nz-button nzType="primary" [disabled]="form.invalid" type="submit" [nzLoading]="submitting">
        {{ 'button.save' | i18n }}
      </button>
    </se>
  </form>
</nz-card>
