[Unit]
Description=IoTSharp running on Linux

[Service]
WorkingDirectory=/var/iotsharp/
ExecStart=/var/iotsharp/IoTSharp.Hub
Restart=always
# Restart service after 10 seconds if the IoTSharp.Hub service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=iotsharp
User=www-data
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target