<nz-header nzTheme="light" style="background-color: yellowgreen">
  <button nz-button nzType="primary" nzShape="round" (click)="savesense()">保存<i nz-icon nzType="download"></i></button>
</nz-header>
<nz-layout class="inner-layout" style="padding: 10px">
  <nz-sider nzWidth="200px" nzTheme="light">
    <nz-list nzItemLayout="horizontal" style="float: left; width: 200px; padding: 3px">
      <nz-list-item *ngFor="let item of data">
        <nz-list-item-meta [dropData]="item"
                           mwlDraggable
                           (dragEnd)="dragEnd($event)"
                           draggable="true"
                           [nzAvatar]="item.image"
                           [nzDescription]="item.remark">
          <nz-list-item-meta-title>
            <a href="#">{{ item.devicename }}</a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
      </nz-list-item>
    </nz-list>
  </nz-sider>
  <nz-content class="inner-content">
    <div #container
         class="container"
         mwlDroppable
         (drop)="onDrop($event)"
         (document:mousemove)="onmove($event)"
         style="float: left; width: 100%"></div>
  </nz-content>
  <nz-sider nzTheme="light" nzWidth="500px" style="padding: 1rem">
    <ng-template  toolpanelcontainer>
    </ng-template>
  </nz-sider>
</nz-layout>
