<page-header  >

  <nz-card [nzBordered]="false" class="mb-lg" nzTitle="设备详情">
    <sv-container size="small" col="2">
      <sv label="设备名称">{{device?.name}}</sv>
      <sv label="类型">{{device?.deviceType}}</sv>
      <sv label="最后活动时间">{{device?.lastActive}}</sv>
      <sv label="在线状态">
        <a >{{device?.online}}</a>
      </sv>
   
    </sv-container>
  </nz-card>
  <nz-card [nzBordered]="false">
    <nz-card-tab>
      <nz-tabset nzSize="large">
        <nz-tab nzTitle="告警">
          <st
          #st
          [columns]="columns"
          [data]="alarmapi"
          ps="20"
          [page]="{
            front: false,
            total: true,
            zeroIndexed: true
          }"
          [req]="{ method: 'POST', allInBody: true, reName: { pi: 'offset', ps: 'limit' }, params: this.qal }"
          [res]="res"
          [expand]="expand"
          expandRowByClick
          expandAccordion
        >
          <ng-template #expand let-item let-index="index" let-column="column">
            <nz-card nzTitle="告警详情">
              {{item.alarmDetail}}
            </nz-card>
          </ng-template>
        </st>
        </nz-tab>
        <nz-tab nzTitle="实时">

          2
        </nz-tab>
        <nz-tab nzTitle="历史">

          3

        </nz-tab>

        <nz-tab nzTitle="规则">

          3

        </nz-tab>

      </nz-tabset>
    </nz-card-tab>
 
  </nz-card>


</page-header>
