<page-header [title]="'客户列表'">
    <nz-card [nzBordered]="false" class>
        <form nz-form class="search__form" action="search">
            <div nz-row [nzGutter]="{ xs: 8, sm: 8, md: 8, lg: 24, xl: 48, xxl: 48 }">
                <div nz-col nzMd="8" nzSm="24">
                    <nz-form-item>
                        <nz-form-label nzFor="name">客户名</nz-form-label>
                        <nz-form-control>
                            <input nz-input [(ngModel)]="q.name" placeholder="客户名"
                                [ngModelOptions]="{ standalone: true }" />
                        </nz-form-control>
                    </nz-form-item>
                </div>


                <div nz-col [nzSpan]="24" [class.text-right]="expandForm" style="text-align: right">
                    <button nz-button type="submit" [nzType]="'primary'" (click)="getData()">搜索</button>
                    <!--<button nz-button type="submit" (click)="getData()" [nzType]="'primary'" [nzLoading]="loading">查询</button>-->
                    <button nz-button type="reset" (click)="reset()" class="mx-sm">重置</button>
                </div>
            </div>

            <button nz-button [nzType]="'primary'" (click)="edit('00000000-0000-0000-0000-000000000000')" acl [acl-ability]="37">
                <i nz-icon nzType="plus"></i>
                <span>{{ 'button.new' | translate }}</span>
            </button>
            <!--<button nz-button [nzType]="'primary'" [routerLink]="['/manage/authority/roleform']" [queryParams]="{Id:-1}">
          <i nz-icon nzType="plus"></i>
          <span>{{ 'button.new' | translate }}</span>
        </button>-->

            <st #st [columns]="columns" [data]="url" ps="20" [page]="page" [req]="req" [res]="res">

            </st>
        </form>
    </nz-card>

    <ng-template #modalContent>
        <nz-form-item>
            <nz-form-label nzFor="no">描述</nz-form-label>
            <nz-form-control>
                <input nz-input [(ngModel)]="description" name="description" placeholder="请输入" id="no" />
            </nz-form-control>
        </nz-form-item>
    </ng-template>
</page-header>